{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <p>{{ .Content }}</p>
          <div style="text-align: center">{{ .Date.Format "2 Jan 2006" }}</div>
          {{ with .Site.DisqusShortname }}
            {{ partial "disqus.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
      <div class="col s6 m10 center">
        <a class="btn-floating btn-large waves-effect waves-light" href="{{.Site.BaseURL}}"><i class="mdi-action-home left"></i></a>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
