{{ $baseurl := .Site.BaseURL }}

<div class="row">
{{range $index, $page := where .Site.Pages "Section" "post" }}
  {{ if and (modBool $index 15) (ne 0 $index) }}
</div>

<div>
    {{ end }}
    <div style="text-align: center" class="test col m4 s12">
      <div class="card-panel" style="line-height: 50px; min-height: 200px;">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
        {{ .Date.Format "2 Jan 2006" }}
      </div>
    </div>
  {{ end }}
  <div class="col m12 s12" style="text-align: center">
      <div class="card-panel">
        <h1>Welkom op mijn GIP website</h1>
        <p>Hallo beste bezoeker, op deze website zal u al mijn <b>GIP-taken</b> en de stageverslagen vinden. Hier ziet u een korte introductie over mij en de website zelf.</p>
        <h3>Over mezelf:</h3>
        <p>Hallo, mijn naam is Vincent Boden, een <b>fanatieke websitebouwer</b>. Ik ben 17 jaar oud en ik woon in <a href="http://www.beerse.be/">Beerse</a>. Ik ga naar het <a href="http://www.immalle.be/immalle/">Immaculata instituut</a> in Oostmalle waar ik <b>informatica beheer</b> studeer in mijn laatste jaar. Mijn hobby is eigenlijk bezig zijn met mijn computer. Ik zie dit ook als een <b>hobby</b> omdat ik er zeer veel tijd in steek en ik heb geen gewone hobby’s zoals voetbal bijvoorbeeld.</p>
        <br>
        <h3>Opbouw van de website:</h3>
        <p>De website is eerder <b>eenvoudig</b> opgebouwd zodat u alles snel en eenvoudig terug kan vinden. Ik zal u even uitleggen hoe te <b>navigeren</b> op mijn website. Links vanboven ziet u een knop waarmee u het navigatie menu tevoorschijn kan laten komen. Hier ziet u al de verschillende vakken zodat u een overzicht heeft van <b>alle taken</b> die gemaakt zijn voor dat bepaalde vak. In het midden van boven ziet u <b>drie icoontjes</b>, het eerste gaat naar de Facebookpagina van de <a href="https://www.facebook.com/IT-tapa-588405757863108/?fref=ts">IT-tapa</a>, het tweede gaat naar mijn <a href="https://github.com/Vincent-Boden/vincent-boden.github.io">GitHub</a> repository waar mijn website <b>gehost</b> wordt, het derde zorgt ervoor dat je naar mijn <a href="https://gitlab.com/vincent-boden/VincentBoden-GIPsite2015-2016">GitLab</a> repository gaat en het laatste icoontje zorgt ervoor dat je naar je eigen <a href="https://plus.google.com/">google plus</a> account gaat. Onder deze link knoppen ziet u al de verschillende <b>posts</b> die ik doorheen dit jaar online heb gezet gesorteerd op datum. Door op de taak te klikken zal u ze in het <b>vergroot</b> kunnen bekijken. Op deze vergrote weergaven heeft u links -en rechts beneden knoppen waarmee u kan navigeren tussen al de verschillende taken.</p>
        <br>
        <h3>Hoe ik de toekomst zie:</h3>
        <p>Ik denk dat wanneer ik <b>afgestudeerd</b> ben aan het <a href="http://www.immalle.be/immalle/">Immaculata instituut</a> in Oostmalle dat ik verder ga studeren aan <b>de Karel De Grote hogeschool in Antwerpen</b> in de <a href="http://www.kdg.be/opleidingen/toegepaste-informatica">toegepaste informatica</a>. Ik ben er ook over aan het nadenken om in de loop van dit schooljaar al reeds <b>enkele lessen</b> te volgen aan de <a href="http://www.kdg.be/opleidingen">Karel De Grote hogeschool</a> in <b>HTML</b>, <b>CSS</b> en <b>Javascript</b> om deze talen wat bij te schaven en zodat ik deze studie-uren natuurlijk volgend jaar niet meer moet volgen. Hiervoor zal ik na januari enkele lessen moeten volgen op een <b>woensdag namiddag</b> en op het einde van dat jaar zal ik ook een <b>examen</b> moeten afleggen.</p>
        <br>
        <p>Dit was de <b>korte introductie</b> naar mijn website toe, ik wens u veel leesplezier en ik hoop dat de website naar wens werkt. Bij fouten op de website of tips die u wilt geven mag u mij altijd <b>contacteren</b> via het volgende e-mail adres: <a class="link" href="mailto:vincent.boden@immalle.be?SUBJECT=Contact opnamen via GIP-website Vincent Boden">vincent.boden@immalle.be</a>.</p>
        <br>
        <p>Quand vouz cliquez <a href="page/FAQ/FAQ Frans">ici</a> vous voyez la <b>FAQ de OneDrive</b> en français.<p>
        <p>Als u <a href="page/FAQ/FAQ Nederlands">hier</a> klikt ziet u de <b>FAQ van OneDrive</b> in het Nederlands.</p>
      </div>
  </div>
</div>

<div class="center">
    <a class="btn-floating btn-large waves-effect waves-light" href="{{.Site.BaseURL}}"><i class="mdi-action-home left"></i></a>
</div>
