{{ partial "header.html" . }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="js/index.js" type="text/javascript"></script>
<link rel="icon" type="image/ico" href="http://vincent-boden.github.io//images/favicon.ico"/>

<div class="container">
  <div class="section">

{{ partial "content.html" . }}

{{ partial "pagination.html" }}

  </div>
</div>

{{ partial "footer.html" . }}
